  <header>
    <div class="top-page-header">
      <div class="logo">
        <h1>
          <a href="#">PosiLog</a>
        </h1>
      </div>
      <div class="goal-btn">
        <a href="#" class="goal-btn-text">目標を設定する</a>
      </div>
    </div>
  </header>
