  <header>
    <div class="top-page-header">
      <div class="logo">
        <h1>
          <%= link_to 'PosiLog', root_path, class: 'logo-text' %>
        </h1>
      </div>
      <div class="goal-btn">
        <%= link_to '目標を設定する', new_goal_path, class: 'goal-btn-text' %>
      </div>
    </div>
  </header>
