<div class="wrapper">
  <%= render 'shared/header' %>
  <main class="wrap">
    <div class="side-bar">
      <div class="side-bar-header">
        <h2>タグ一覧</h2>
      </div>
      <div class="tags-list">
        <div class="tag">
          <p class="tag-text">Private</p>
        </div>
        <div class="tag">
          <p class="tag-text">Work</p>
        </div>
      </div>
    </div>
    <div class="main-contents">
      <div class="main-header">
        <h2>目標一覧</h2>
      </div>
      <div class="goals-list">
        <div class="goal-box">
          <div class="goal-top-box">
            <div class="goal-tag">
              <p class="goal-tag-text">Work</p>
            </div>
            <div class="goal-date">
              <p class="goal-date-text" >2022/06/01</p>
            </div>
          </div>
          <div class="goal-bottom-box">
            <div class="goal-title">
              <p class="goal-title-text" >オリジナルアプリを作成する！</p>
            </div>
          </div>
        </div>
        <div class="goal-box">
          <div class="goal-top-box">
            <div class="goal-tag">
              <p class="goal-tag-text">Private</p>
            </div>
            <div class="goal-date">
              <p>2022/06/01</p>
            </div>
          </div>
          <div class="goal-bottom-box">
            <div class="goal-title">
              <p class="goal-title-text" >オリジナルアプリを作成する！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <small>&copy; 2022 POSILOG APP</small>
  </footer>
</div>
