<div class="wrapper">
  <%= render 'shared/header' %>
  <main class="wrap">
    <div class="side-bar">
      <div class="side-bar-header">
        <h2>タグ一覧</h2>
      </div>
      <div class="tags-list">
        <div class="tag">
          <p class="tag-text">Private</p>
        </div>
        <div class="tag">
          <p class="tag-text">Work</p>
        </div>
      </div>
    </div>
    <div class="main-contents">
      <div class="main-header">
        <h2>目標一覧</h2>
      </div>
      <div class="goals-list">
        <%= render partial: 'goal', collection: @goals %>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
</div>
