<header>
  <div class="top-page-header">
    <div class="logo">
      <p>PosiLog</p>
    </div>
    <div class="goal-btn">
      <a href="#">目標を設定する</a>
    </div>
  </div>
</header>
<main class="wrapper">
  <div class="side-bar">
    <div class="tags-list">
      <div class="tag">
        <p>Private</p>
      </div>
      <div class="tag">
        <p>Work</p>
      </div>
    </div>
  </div>
  <div class="main-contents">
    <div class="main-header">
      <p>目標一覧</p>
    </div>
    <div class="goals-list">
      <div class="goal-box">
        <div class="goal-top-box">
          <div class="goal-tag">
            <p>Work</p>
          </div>
          <div class="goal-date">
            <p>2022/06/01</p>
          </div>
        </div>
        <div class="goal-bottom-box">
          <div class="goal-title">
            <p>オリジナルアプリを作成する！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <small>&copy; 2022 POSILOG APP</small>
</footer>