<div class="log">
  <div class="log-category">
    <span class="ooda">
      <%= log.category.name %>
    </span>
  </div>
  <div class="log-content">
    <p class="log-date">
      <%= l log.created_at %>
    </p>
    <p class="log-content-text">
      <%= log.content %>
    </p>
  </div>
</div>